/*catch things first*/


.container {
	display:flex;
	justify-content:center;

}

.item-display{
	flex-grow:1;
}


button{
	border-radius: 4px;
	width:150px;
	padding:5px;
	height:25px;	
}


button:hover{
	background-color:dodgerblue;
}


button:after{
	background-color:red;
}


.input-field-title{

	text-align: left; 
	height:50px;
}

.input-field-body{
	font-size:25px;
}

